env/
env/*

*.py[cod]
*.pyc

.vscode/
.vscode/*

__pycache__/
__pycache__/*

app/__pycache__/
app/__pycache__/*

app/FGSH_server_db.db
app/FGSH_server_log.log

migrations/
migrations/*

app/static/upload/
app/static/upload/*