.idea/
.idea/*

lib/
lib/*

*.py[cod]
*.pyc

bin/
bin/*

share/
share/*

local/
local/*

include/
include/*

env/
env/*

.vscode/
.vscode/*

__pycache__/
*/__pycache__/*

app/FGSH_server_db.db

static/upload/*

migrations/*

app/FGSH_server_log.log

app/static/upload/*
