*.py[cod]
*.pyc

env/
env/*

.vscode/
.vscode/*

application/__pycache__/
application/__pycache__/*

application/app/__pycache__/
application/app/__pycache__/*

application/app/FGSH_server_db.db

migrations/
migrations/*

application/app/FGSH_server_log.log

application/app/static/
application/app/static/upload/
application/app/static/upload/*
